.dockerignore
.env
.git
.gitignore
.vs
.vscode
jwtserver/jwtserver/secrets
docker-compose.yml
docker-compose.*.yml
*/bin
*/obj
!obj/Docker/publish/*
!obj/Docker/empty/
*/secrets
**/*.pdb
**/*.*.secrets.json
**/web.config
JwtServerTesting.postman_environment.json
KilohJwtServerCalls.postman_collection.json
README.MD