################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CommonApi/v15/Server/sqlite3
/.vs/CommonApi/v15
/BrokerMessageHandlers/bin/Debug/netcoreapp2.0
/BrokerMessageHandlers/obj/Debug/netcoreapp2.0
/BrokerMessageHandlers/obj
/CommonApi/ApiMonitorModel/bin/Debug/netstandard2.0
/CommonApi/ApiMonitorModel/obj/Debug/netstandard2.0
/CommonApi/ApiMonitorModel/obj
/CommonApi/ApiMonitorModel.DatabaseSpecific/bin/Debug/netstandard2.0
/CommonApi/ApiMonitorModel.DatabaseSpecific/obj/Debug/netstandard2.0
/CommonApi/ApiMonitorModel.DatabaseSpecific/obj
/CommonApi/CommonApi/bin/Debug/netcoreapp2.0
/CommonApi/CommonApi/obj/Debug/netcoreapp2.0
/CommonApi/CommonApi/obj
/CommonApi/InfrastructureHelpers/bin/Debug/netstandard2.0
/CommonApi/InfrastructureHelpers/obj/Debug/netstandard2.0
/CommonApi/InfrastructureHelpers/obj
/CommonApi/Interfaces/bin/Debug/netstandard2.0
/CommonApi/Interfaces/obj/Debug/netstandard2.0
/CommonApi/Interfaces/obj
/CommonApi/Model/CommonContracts/bin/Debug/netstandard2.0
/CommonApi/Model/CommonContracts/obj/Debug/netstandard2.0
/CommonApi/Model/CommonContracts/obj
/CommonApi/Model/CommonContracts.Persistence/bin/Debug/netstandard2.0
/CommonApi/Model/CommonContracts.Persistence/obj/Debug/netstandard2.0
/CommonApi/Model/CommonContracts.Persistence/obj
/CommonApi/Model/DatabaseGeneric/bin/Debug/netstandard2.0
/CommonApi/Model/DatabaseGeneric/obj/Debug/netstandard2.0
/CommonApi/Model/DatabaseGeneric/obj
/CommonApi/Model/DatabaseSpecific/bin/Debug/netstandard2.0
/CommonApi/Model/DatabaseSpecific/obj/Debug/netstandard2.0
/CommonApi/Model/DatabaseSpecific/obj
/CommonApi/QueryObjects/bin/Debug/netstandard2.0
/CommonApi/QueryObjects/obj/Debug/netstandard2.0
/CommonApi/QueryObjects/obj
/MessageBrokering/bin/Debug/netcoreapp2.0
/MessageBrokering/obj
/BrokerMessageHandlers/bin/Release/netcoreapp2.0
/CommonApi/ApiMonitorModel/bin/Release/netstandard2.0
/CommonApi/ApiMonitorModel.DatabaseSpecific/bin/Release/netstandard2.0
/CommonApi/CommonApi/bin/Any CPU/Release/netcoreapp2.0
/CommonApi/CommonApi/bin/Release/netcoreapp2.0
/CommonApi/CommonApi/bin/Release/PublishOutput/de
/CommonApi/CommonApi/bin/Release/PublishOutput
/CommonApi/InfrastructureHelpers/bin/Release/netstandard2.0
/CommonApi/Interfaces/bin/Release/netstandard2.0
/CommonApi/Model/CommonContracts/bin/Release/netstandard2.0
/CommonApi/Model/CommonContracts.Persistence/bin/Release/netstandard2.0
/CommonApi/Model/DatabaseGeneric/bin/Release/netstandard2.0
/CommonApi/Model/DatabaseSpecific/bin/Release/netstandard2.0
/CommonApi/QueryObjects/bin/Release/netstandard2.0
/MessageBrokering/bin/Release/netcoreapp2.0
/.vs
/JwtServer/InfrastructureHelpers/bin
/JwtServer/InfrastructureHelpers/obj/Debug/netstandard2.0
/JwtServer/InfrastructureHelpers/obj/Release/netstandard2.0
/JwtServer/InfrastructureHelpers/obj
/JwtServer/Interfaces/bin
/JwtServer/Interfaces/obj
/JwtServer/Model/DatabaseGeneric/bin
/JwtServer/Model/DatabaseGeneric/obj
/JwtServer/Model/DatabaseSpecific/bin
/JwtServer/Model/DatabaseSpecific/obj
/JwtServer/Model/VesselSecurityContracts/bin
/JwtServer/Model/VesselSecurityContracts/obj
/JwtServer/Model/VesselSecurityContracts.Persistence/bin
/JwtServer/Model/VesselSecurityContracts.Persistence/obj
/JwtServer/VesselJwtServer/bin
/JwtServer/VesselJwtServer/obj
/JwtServer/VesselJwtServer/secrets
