################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/JwtServer/Interfaces/bin
/JwtServer/Interfaces/obj
/JwtServer/Model/DatabaseGeneric/bin
/JwtServer/Model/DatabaseGeneric/obj
/JwtServer/Model/DatabaseSpecific/bin
/JwtServer/Model/DatabaseSpecific/obj
/JwtServer/Model/JwtSecurityContracts/bin
/JwtServer/Model/JwtSecurityContracts/obj
/JwtServer/Model/JwtSecurityContracts.Persistence/bin
/JwtServer/Model/JwtSecurityContracts.Persistence/obj
/JwtServer/JwtServer/bin
/JwtServer/JwtServer/obj
/JwtServer/JwtServer/secrets
