<?xml version="1.0"?>
<configuration>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!-- enable asp.net core layout renderers -->
    <extensions>
      <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <targets>
      <target name="asyncFile" xsi:type="AsyncWrapper">

        <target name="logfile" xsi:type="File" fileName="C:\ApiLogs\JwtServer.txt"
         layout="${date:format=yyyyMMddHHmmss} ${message} ${stacktrace}  ${exception:format=ToString}" archiveAboveSize="51200" archiveNumbering="Sequence" />
      </target>
    </targets>
    <rules>
      <logger name="Microsoft.*" maxLevel="Info" final="true" />
      <logger name="*" minlevel="Info" writeTo="asyncFile" />
    </rules>
  </nlog>

</configuration>